{% extends 'geco/base_context.html' %}
{% block geco-script %}
    <script charset="utf-8">
      async function custom_geco(selector) {
        var colors_file = "/static/geco/txt/colors.txt";
        var colors;
        await fetch(colors_file)
            .then(response => response.text())
            .then(hex => colors = eval(hex))
        var urlPath = window.location.pathname.split("/");
        let uploaded_url = String(urlPath[3]).replaceAll(",", "/");
        let inputfile;
        await fetch(uploaded_url)
            .then(response => response.text())
            .then(txt => inputfile = JSON.parse(txt))
        let newick;
        // GET NEWICK IF PROVIDED IN URL...
        await window.launch_GeCo(selector,
                                 inputfile, 
                                 newick,
                                 41, 
                                 colors);
        d3.select('ul.navbar')
            .style('visibility', 'visible')
            .style('opacity', 1);
    }
    custom_geco("body")
    $('.geco-progress').hide();
  </script>
{% endblock %}
