{% extends 'gecoviz/base_context.html' %}
{% block gecoviz-script %}
  <script charset="utf-8">
    async function get_context(query,
                            isCluster,
                            cutoff,
                            url) {
        const API_URL = "/gmgfam/api/"
        var url_root = API_URL + "getcontext/";
        if (isCluster) {
            url_root += "cluster/";
        } else {
            url_root += "unigene/"
        }
        let data;
        var url_path;
        if (url) {
            url_path = url;
        } else {
            url_path  = url_root + query + "/" + cutoff + "/";
        }
        $('.gecoviz-progress').show();
        data = await $.ajax({
          url: url_path,
          complete: function(){
            $('.gecoviz-progress').hide();
          },
          error: function() {
              $('.gecoviz-progress').hide();
              alert("Incorrect cluster identifier")
          }
        })
        return data;
    }

    async function get_newick(url) {
        var newick= await $.ajax({
          url: url,
          error: function() {
              console.log("No tree found")
          }
        })
        return newick
    }

    async function launch_analysis(selector,
                            query,
                            isCluster,
                            cutoff, 
                            nenv,
                            queryList) {
        var colors_file = "/static/gecoviz/txt/colors.txt";
        var colors;
        await fetch(colors_file)
            .then(response => response.text())
            .then(hex => colors = eval(hex))
        // ASYNC CALL TO MONGO SERVER
        var data;
         if(queryList){
            let url = '/getcontext/list/' + queryList.join(",") + "/" + cutoff;
            data = await get_context(query, isCluster, cutoff, url);

        } else {
            data = await get_context(query, isCluster, cutoff);
        }
        // Get tree in Newick format
        var newick;
        try {
            let newick_url = "/gmgfam/api/tree/" + query + "/";
            newick = await get_newick(newick_url);

        } catch { newick = undefined; }
        var eggNOG_levels;
        try {
            var levels = await $.ajax({
                url: API_URL + 'egglevels/',
            })
            eggNOG_levels = JSON.parse(levels);
        } catch { eggNOG_levels = undefined }
        // Launch gecoviz which is a window global from gecoviz.js
        window.launch_gecoviz(selector,
                       data,
                       newick,
                       nenv,
                       colors,
                       eggNOG_levels)
    }

    async function gmgfam_gecoviz(selector) {
        var nenv = 41;
        var urlPath  = window.location.pathname.split("/");
        var context  = urlPath[2]
        var query  = urlPath[3];
        var cutoff  = +urlPath[4];
        if (context == "clustercontext") {
            await launch_analysis(selector, query, true, cutoff, nenv);
        } else if (context == "genecontext") {
            await launch_analysis(selector, query, false, cutoff, nenv);
        } else if (context == "listcontext"){
            let genelist  = String(urlPath[3]).split(",");
            await launch_analysis(selector,
                            undefined, 
                            false,
                            cutoff,
                            nenv,
                            genelist)
        } 
        d3.select('ul.navbar')
            .style('visibility', 'visible')
            .style('opacity', 1);
    }

    gmgfam_gecoviz("body");
  </script>
{% endblock %}
