{% extends 'gecoviz/baseContext.html' %}
{% block gecoviz-title %}
<a 
    href="http://gmgc.embl.de/search.cgi?search_id=GMGC10.{{ query }}.UNKNOWN&search_seq=" 
    target="_blank">{{ query }}
</a>
{% endblock %}
{% block gecoviz-script %}
  <script charset="utf-8">
    async function get_context(query,
                            isCluster,
                            cutoff,
                            url) {
        const API_URL = "/gmgfam/api/"
        var url_root = API_URL + "getcontext/";
        if (isCluster) {
            url_root += "cluster/";
        } else {
            url_root += "unigene/"
        }
        let data;
        var url_path;
        if (url) {
            url_path = url;
        } else {
            url_path  = url_root + query + "/" + cutoff + "/";
        }
        $('.gecoviz-progress').show();
        data = await $.ajax({
          url: url_path,
          complete: function(){
            $('.gecoviz-progress').hide();
          },
          error: function() {
              $('.gecoviz-progress').hide();
              alert("Incorrect cluster identifier")
          }
        })
        return data;
    }

    async function get_newick(url) {
        var newick= await $.ajax({
          url: url,
          error: function() {
              console.log("No tree found")
          }
        })
        return newick
    }

    async function launchGeCoViz(selector) {
        var urlPath  = window.location.pathname.split("/");
        var context  = urlPath[2]
        var query  = urlPath[3];
        var cutoff  = +urlPath[4];
        // ASYNC CALL TO MONGO SERVER
        var data;
        data = await get_context(query, true, cutoff);
        console.log(data)
        // Get tree in Newick format
        var newick;
        try {
            let newick_url = "/gmgfam/api/tree/" + query + "/";
            newick = await get_newick(newick_url);

        } catch { newick = undefined; }
        var fields = [
        'name',
        {% comment %}'showName',{% endcomment %}
        {% comment %}'no rank',{% endcomment %}
        {% comment %}'superkingdom',{% endcomment %}
        {% comment %}'phylum',{% endcomment %}
        {% comment %}'class',{% endcomment %}
        {% comment %}'order',{% endcomment %}
        {% comment %}'family',{% endcomment %}
        {% comment %}'genus',{% endcomment %}
        {% comment %}'species',{% endcomment %}
        ]

        const gecoviz = GeCoViz(selector)
            .treeData(newick, fields[0], fields)
            .contextData(data)
            .nSide(4)
            .geneText("Gene name")
            .annotation("Orthologous groups", 2)
            .draw();

        d3.select('ul.navbar')
            .style('visibility', 'visible')
            .style('opacity', 1);
        d3.select(selector) 
            .style('opacity', 1)
            .style('visibility', 'visible');
    }

    launchGeCoViz('.GeCoViz');
  </script>
{% endblock %}
