{% extends 'gecoviz/input.html' %}
{% block steps %}
<p>GMGFam is a metagenomic catalog containing more than 200,000
uncharacterized gene families</p>
<p>Enter a number from 1 to 200,000 
(or GMGCv1 identifier XXX_XXX_XXX) to browse gene families. <em>E.g. <a
    href="/gmgfam/clustercontext/302_901_888/30/"
    target="_self">302_901_888</a>, <a 
    href="/gmgfam/clustercontext/261_607_067/30/" 
    target="_self">261_607_067</a>
</em>
</p>
{% endblock %}
{% block options %}
<div class="card col-md-7 mx-auto">
    <div class="col-md-12">
        <div class="card-header">
        <input type="radio" value="cluster" name="input_choice" id="input_choice"
               checked/>
        <label for="input_choice" class="h4 input_choice">GMGCFam cluster</label>
        </div>
        <div class="card-body">
        {{ novelFam_form.as_p }}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
