{% extends 'geco/input.html' %}
{% block steps %}
<ol>
    <li>Choose mode by clicking on card header
        <ul>
            <li>Search by cluster identifier</li>
            <li>Search by identifier list</li>
        </ul>
    </li>
    <li>Enter GMGFam identifier <em>e.g. <a
                href="/gmgfam/clustercontext/095_560_840/30.0/"
                target="_self">095_560_840</a>
        </em></li>
</ol>
{% endblock %}
{% block options %}
<div class="card col-md-7 mx-auto">
    <div class="col-md-12">
        <div class="card-header">
        <input type="radio" value="cluster" name="input_choice" id="input_choice"
               checked/>
        <label for="input_choice" class="h4 input_choice">GMGFam cluster</label>
        </div>
        <div class="card-body">
        {{ cluster_form.as_p }}
        </div>
    </div>
</div>

<div class="card col-md-7 mx-auto">
    <div class="col-md-12">
        <div class="card-header">
        <input type="radio" value="list" name="input_choice" id="input_choice"/>
        <label for="input_choice" class="h4 input_choice">Unigene list</label>
        </div>
        <div class="card-body">
        {{ list_form.as_p }}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
