{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Title -->
        <link rel="icon" href="{% static 'gecoviz/img/gecoviz.png' %}">
        <title>GeCoViz</title>
        <link rel="preconnect" href="https://fonts.gstatic.gmgc/com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4" />
        <meta name="theme-color" content="#206bc4" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <link rel="icon" href="{% static 'gecoviz/img/gecoviz.png' %}">
        <!-- CSS files -->
        <link href="https://fonts.googleapis.com/css2?family=Ranga:wght@700&family=Roboto+Condensed&display=swap" 
              rel="stylesheet">
        <script src="https://kit.fontawesome.com/4072499970.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" 
            href="{% static "gecoviz/assets/tabler/css/tabler-vendors.min.css" %}"/>
        <link href="{% static 'gecoviz/css/theme.css' %}" rel="stylesheet" />
        {% if request.session.nightmode == True  %}
            <link href="{% static 'gecoviz/css/darktheme.css' %}" rel="stylesheet"/>
            <link href="{% static 'gecoviz/css/darkcolors.css' %}" rel="stylesheet"/>
        {% else %}
            <link href="{% static 'gecoviz/css/colors.css'  %}" rel="stylesheet"/>
        {% endif %}


        <style type="text/css" media="screen">
            body { display: none; }
        </style>

    </head>
        <body class="antialiased">
        <div class="page">
        {% include 'gecoviz/navbar.html' %}
                <div class="content">
                        <div class="container-fluid" id="GeCoViz">
                                {% block content %}
                                {% endblock %}
                        </div>
                        {% include 'gecoviz/footer.html' %}
                </div>
        </div>
        <!-- Libs JS -->
        <script src="{% static "gecoviz/assets/jquery/jquery.min.js" %}"></script>
        <script src="{% static 'gecoviz/assets/tabler/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'gecoviz/assets/tabler/js/tabler.min.js' %}"></script>
        <script src="{% static 'gecoviz/assets/tabler/libs/selectize/dist/js/standalone/selectize.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="{% static "gecoviz/assets/vue/vue.min.js" %}"></script>
        <script src = "https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'gecoviz/assets/tabler/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <script charset="utf-8">
            window.onload = () => {
                document.body.style.display = "block";
                // Navbar active links
                var pathInit = window.location.pathname.split("/")[1];
                if (pathInit != "") {
                    $('a[href^="/'+pathInit+'"]').parent().addClass('active');
                }
                // Popovers
                $('[data-toggle="popover"]').popover();
            }
        </script>
    </body>
</html>
