{% extends 'gecoviz/base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" 
        href="{% static "gecoviz/assets/tabler/css/tabler-vendors.min.css" %}"/>
{% comment %}    <link rel="stylesheet" type="text/css" {% endcomment %}
        {% comment %}href="{% static "gecoviz/GeCoVizjs/static/css/scrollbar.css" %}"/>{% endcomment %}
    {% comment %}<link rel="stylesheet" type="text/css" {% endcomment %}
        {% comment %}href="{% static "gecoviz/GeCoVizjs/static/css/selectBox.css" %}"/>{% endcomment %}
    {% comment %}<link rel="stylesheet" type="text/css" {% endcomment %}
        {% comment %}href="{% static "gecoviz/GeCoVizjs/static/css/customBar.css" %}"/>{% endcomment %}
    {% comment %}<link rel="stylesheet" type="text/css" {% endcomment %}
        {% comment %}href="{% static "gecoviz/GeCoVizjs/static/css/popper.css" %}"/>{% endcomment %}
    {% comment %}<link rel="stylesheet" type="text/css" {% endcomment %}
        {% comment %}href="{% static "gecoviz/GeCoVizjs/static/css/gecoviz.css" %}"/>{% endcomment %}
  <div class="h2 my-4 text-center font-weight-bold">
      {% block gecoviz-title %}
      {% endblock %}
  </div>
  <div class='row justify-content-center'>
  <div class='progress gecoviz-progress w-75 mt-6'>
      <div class='progress-bar progress-bar-indeterminate'>
      </div>
  </div>
  </div>
  <div class="GeCoViz"></div>
{% endblock %}
{% block scripts %}
    <script src = "https://d3js.org/d3.v6.min.js"></script>
    <script src = "https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static "gecoviz/assets/tabler/libs/nouislider/distribute/nouislider.min.js" %}"></script>
    <script src="{% static "gecoviz/GeCoVizjs/dist/gecoviz.js" %}"></script>
    {% block gecoviz-script %}
    {% endblock %}
{% endblock %}
