{% extends 'gecoviz/baseContext.html' %}
{% block gecoviz-script %}
    <script charset="utf-8">
        async function get_newick(url) {
            var newick= await $.ajax({
              url: url,
              error: function() {
                  console.log("No tree found")
              }
            })
            return newick
        }

      async function launchGeCoViz(selector) {
        var colors_file = "/static/gecoviz/txt/colors.txt";
        var colors;
        await fetch(colors_file)
            .then(response => response.text())
            .then(hex => colors = eval(hex))
        var urlPath = window.location.pathname.split("/");
        let uploaded_url = String(urlPath[3]).replaceAll(",", "/");
        let uploaded_newick = String(urlPath[4]).replaceAll(",", "/");
        let inputfile;
        await fetch(uploaded_url)
            .then(response => response.text())
            .then(txt => inputfile = JSON.parse(txt))
        var data = [];
        inputfile.forEach(d => {
            let newD = Object.assign({}, d)
            Object.keys(d).forEach(k => {
                try {
                    newD[k] = eval(d[k])
                } catch {};
            })
            data.push(newD);
        })
        // GET NEWICK IF PROVIDED IN URL...
        let newick;
        await fetch(uploaded_newick)
            .then(response => response.text())
            .then(nwx => newick = nwx)
            .catch(_ => console.log('No tree provided'))
        console.log(newick)
        console.log(data)
        var fields = ['showName',
                        'tax_id', 
                        'tax_desc',
                        'name'];
            var c = GeCoViz(selector)
                        .data(data)
                        .nSide(2)
                        .tree(newick, fields);
            d3.select(selector)
                     .call(c);
            d3.select('ul.navbar')
                .style('visibility', 'visible')
                .style('opacity', 1);
            d3.select(selector) 
                .style('opacity', 1)
                .style('visibility', 'visible');
    }
    launchGeCoViz('.GeCoViz');
    $('.gecoviz-progress').hide();
  </script>
{% endblock %}
