{% extends 'gecoviz/base.html' %}
{% block content %}
{% load static %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<div class="card col-12 m-1">
  <div class='row card-body'>
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-nNeigh-tab" 
          data-toggle="pill" href="#v-pills-nNeigh" 
          role="tab" aria-controls="v-pills-nNeigh" 
          aria-selected="true"
        >Number of neighbors</a>
      <a class="nav-link" id="v-pills-geneText-tab" 
          data-toggle="pill" href="#v-pills-geneText" 
          role="tab" aria-controls="v-pills-geneText" 
          aria-selected="false"
        >Text on gene</a>
      <a class="nav-link" id="v-pills-color-tab" 
          data-toggle="pill" href="#v-pills-color" 
          role="tab" aria-controls="v-pills-color" 
          aria-selected="false"
        >Gene color</a>
      <a class="nav-link" id="v-pills-shuffle-tab" 
          data-toggle="pill" href="#v-pills-shuffle" 
          role="tab" aria-controls="v-pills-shuffle" 
          aria-selected="false"
        >Shuffle palette</a>
      <a class="nav-link" id="v-pills-legend-tab" 
          data-toggle="pill" href="#v-pills-legend" 
          role="tab" aria-controls="v-pills-legend" 
          aria-selected="false"
        >Legend</a>
      <a class="nav-link" id="v-pills-conservation-tab" 
          data-toggle="pill" href="#v-pills-conservation" 
          role="tab" aria-controls="v-pills-conservation" 
          aria-selected="false"
        >Conservation score</a>
      <a class="nav-link" id="v-pills-subtree-tab" 
          data-toggle="pill" href="#v-pills-subtree" 
          role="tab" aria-controls="v-pills-subtree" 
          aria-selected="false"
        >Phylogenetic tree</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" 
          id="v-pills-nNeigh" role="tabpanel" 
          aria-labelledby="v-pills-nNeigh-tab">
            <p class='ml-5 mt-2'>Adjust gene neighbors up and dowstream with a slider</p>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/nNeigh.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-geneText" role="tabpanel" 
          aria-labelledby="v-pills-geneText-tab">
            <p class='ml-5 mt-2'>Select text field to display on each gene arrow</p>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/geneName.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-color" role="tabpanel" 
          aria-labelledby="v-pills-color-tab">
            <p class='ml-5 mt-2'>Change the field by which genes are colored</p>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/color.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-shuffle" role="tabpanel" 
          aria-labelledby="v-pills-shuffle-tab">
            <p class='ml-5 mt-2'>Shuffle color palette to match user preference</p>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/shuffle.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-legend" role="tabpanel" 
          aria-labelledby="v-pills-legend-tab">
            <ul class='mt-2 ml-4'>
            <li>Hover over a gene arrow to highlight entries whose color is
                associated to the gene's (functional) annotation</li>
            <li>Hover over a legend entry to highlight genes whose (functional)
            annotation is associated to such entry's color</li>
            <li>Toggle legend entries to add/remove them from the graph</li>
            <li>
                Legend entries are ordered by <em>conservation score</em>
            </li>
            </ul>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/legend.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-conservation" role="tabpanel" 
          aria-labelledby="v-pills-conservation-tab">
            <p class='ml-5 mt-2'>
                In order for the user to better assess gene context
                conservation, we provide a guiding conservation score per
                (functional) annotation in the graph legend.
            </p>
            <ul class='mt-2 ml-4'>
            <li>Although not conclusive, allows to
                order annotations by their abundance in a gene neighborhood</li>
            <li>Legend entries are ordered by conservation score</li>
            <li>Most relevant functional annotations can be inspected at first
                glance
            </li>
            <li>
                Benchmark: 4078 Bacteria level eggNOG orthologous groups
                annotated with KEGG pathways. Accuracy higher than 80% when
                conservation score &gt; 0.25.
            </li>
            </ul>
            <p><span class="math display">
             \[
              \textrm{conservation score} = \frac{n_{annotation}}{(N_{total} - n_{unique})}
             \]
            </span></p>
            <p class='ml-5 mt-2'>
                This conservation score, although not conclusive, allows to
                order annotations by their abundance in a gene neighborhood.
                As a result, the user can inspect the most relevant entries at
                first glance. 
            </p>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/legend.gif" %}"/>
      </div>
      <div class="tab-pane fade" 
          id="v-pills-subtree" role="tabpanel" 
          aria-labelledby="v-pills-subtree-tab">
            <ul class='mt-2 ml-4'>
            <li>Tree can be toggled on and off (control panel switch)</li>
            <li>Hover over node to highlight its descendants and their
                corresponding neighborhoods</li>
            <li>Collapse subtrees by clicking on inner nodes</li>
            <li>Recursively toggle subtrees by using Alt+Click</li>
            <li>Each leaf node gene neighborhood can be shown/hidden by using Alt+Click</li>
            </ul>
            <img class="m-4"
                 width=95%
                 src="{% static "gecoviz/img/treeSpan.gif" %}"/>
      </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}
