{% extends 'gecoviz/base.html' %}
{% block content %}
{% load static %}
<div class="card mt-4 col-md-10 mx-auto">
<div class='card-header'>
   Number of neighbors 
</div>
<div class="card-body">
    <p class='ml-2'>Adjust gene neighbors up and dowstream with a slider</p>
    <img class="m-4"
         width=95%
         src="{% static 'gecoviz/img/nNeigh.gif' %}"/>
</div>
</div>
<div class="card mt-2 col-md-10 mx-auto">
<div class="card-header">
    Toggle subtrees
</div>
<div class="card-body">
    <ul>
    <li>Collapse subtrees by clicking on inner nodes</li>
    <li>Recursive toggle subtrees by using Alt+Click</li>
    <li>Each leaf node gene neighborhood can be toggled by using Alt+Click</li>
    </ul>
    <img class="m-4"
         width=95%
         src="{% static 'gecoviz/img/treeSpan.gif' %}"/>
</div>
</div>
<div class="card mt-2 col-md-10 mx-auto">
<div class="card-header">
    Text on gene
</div>
<div class="card-body">
    <p class='ml-2'>Select text field to display on each gene arrow</p>
    <img class="m-4"
         width=95%
         src="{% static 'gecoviz/img/geneName.gif' %}"/>
</div>
</div>

<div class="card mt-2 col-md-10 mx-auto">
<div class="card-header">
    Text on gene
</div>
<div class="card-body">
    <p class='ml-2'>Select text field to display on each gene arrow</p>
    <video width="95%"controls>
      <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
      <source 
         src="{% static "gecoviz/video/geneName.mp4" %}" type=video/mp4/>
    </video>
</div>
</div>

{% endblock %}
