{% extends 'gecoviz/input.html' %}
{% block steps %}
Upload a .json file containing genomic information in
<a class="" 
   data-toggle="collapse" 
   href="#inputFormat" 
   aria-expanded="false" 
   aria-controls="inputFormat"
   >this format</a>
{% comment %}<div class="card p-0 m-2" {% endcomment %}
    {% comment %}style="font-size:80%"{% endcomment %}
   {% comment %}style="background:var(--sand);"{% endcomment %}
   {% comment %}>{% endcomment %}
{% comment %}   <div class="table-responsive collapse" id='inputFormat'>{% endcomment %}
       {% comment %}<table class="table table-vcenter card-table{% endcomment %}
           {% comment %}text-center mb-0">{% endcomment %}
           {% comment %}<thead>{% endcomment %}
               {% comment %}<tr>{% endcomment %}
                   {% comment %}<th>Anchor</th>{% endcomment %}
                   {% comment %}<th>Pos</th>{% endcomment %}
                   {% comment %}<th>Gene</th>{% endcomment %}
                   {% comment %}[><th>Gene name</th><]{% endcomment %}
                   {% comment %}<th>Start</th>{% endcomment %}
                   {% comment %}<th>End</th>{% endcomment %}
                   {% comment %}<th>Strand</th>{% endcomment %}
                   {% comment %}<th>Taxonomy</th>{% endcomment %}
                   {% comment %}<th>KEGG</th>{% endcomment %}
                   {% comment %}[><th>eggNOG</th><]{% endcomment %}
               {% comment %}</tr>{% endcomment %}
           {% comment %}</thead>{% endcomment %}
           {% comment %}<tbody style="font-size:.8em;">{% endcomment %}
               {% comment %}<tr>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Anchor gene<br>{% endcomment %}
                       {% comment %}(member of studied gene{% endcomment %}
                       {% comment %}family){% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Position relative to anchor gene{% endcomment %}
                       {% comment %}<br>{% endcomment %}
                       {% comment %}(...,-1, 0, 1,...){% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Gene identifier{% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}[><th class="p-1"><]{% endcomment %}
                       {% comment %}[>Gene preferred name for display<]{% endcomment %}
                   {% comment %}[></th><]{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Start position in genome (bp){% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}End position in genome (bp){% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}+ / -{% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Taxonomic assignation{% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}<th class="p-1">{% endcomment %}
                       {% comment %}Functional info example<br>{% endcomment %}
                       {% comment %}[{id : 00260, description : "..."}]{% endcomment %}
                   {% comment %}</th>{% endcomment %}
                   {% comment %}[><th class="p-1"><]{% endcomment %}
                       {% comment %}[>Functional info example (COG404,<]{% endcomment %}
                       {% comment %}[>COG0665,...)<]{% endcomment %}
                   {% comment %}[></th><]{% endcomment %}
               {% comment %}</tr>{% endcomment %}
           {% comment %}</tbody>{% endcomment %}
       {% comment %}</table>{% endcomment %}
   {% comment %}</div>{% endcomment %}
{% comment %}</div>{% endcomment %}

        <div class="language-plaintext highlighter-rouge collapse" id="inputFormat">
           <div class="highlight">
               <pre class="p-0 m-3" style="background:var(--sand);">
                    <code>
        [ 
          // For each gene in the gene neighborhood
          { 
            anchor : gene at central position,
            pos : number with relative position to central gene (..., -2, -1, 0, 1, 2,...),
            gene : gene identifier,
            description : gene description,
            start : genomic start position (bp),
            end : genomic end position (bp),
            strand : + / -,
            taxonomy : taxonomic assignation,
            // Example of functional annotation (KEGG pathway)
            kegg : [ { id : 00260, description : "..." }, ... ]

            // Additional fields may be added if desired
          },
          ...
        ]
                </code>
               </pre>
           </div> 
        </div>

{% endblock %}
{% block options %}
<div class="card col-md-8 mx-auto">
<div class="col-md-12">
    <div class="card-header">
    <input type="radio" value="file" name="input_choice" id="input_choice"
           checked/>
    <label for="input_choice" class="h4">Upload files</label>
    </div>
    <div class='input_file'>
    <label for='input_file' 
           class='input_file btn btn-sm btn-secondary mx-2'>Browse</label>
    {{ file_form.as_p }}
    <div class='inputfilename'>No file selected.</div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script charset="utf-8">
     let input = document.getElementById('input_file')
     input.addEventListener('change', (e) => {
     console.log(input.files[0].name)
            // Display input file upon selection
            d3.select("div.inputfilename")
              .style("opacity", 0);
            d3.select("div.inputfilename")
              .html(input.files[0].name)
              .style("opacity", 1);
     });
</script>
{% endblock %}
