{% extends 'gecoviz/input.html' %}
{% block steps %}
Upload a .json file containing genomic information in
    <a class="" 
                           data-toggle="collapse" 
                           href="#inputFormat" 
                           aria-expanded="false" 
                           aria-controls="inputFormat"
                           >this format</a>
                       <div class="table-responsive collapse" id='inputFormat'>
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Anchor</th>
                                       <th>Pos</th>
                                       <th>Gene</th>
                                       <th>Gene name</th>
                                       <th>Start</th>
                                       <th>End</th>
                                       <th>Strand</th>
                                       <th>Taxonomy</th>
                                       <th>KEGG</th>
                                       <th>eggNOG</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th class="p-1">
                                           Anchor gene (member of studied gene
                                           family)
                                       </th>
                                       <th class="p-1">
                                           Position relative to anchor gene
                                           (...-2, -1, 0, ...)
                                       </th>
                                       <th class="p-1">
                                           Start position of genome (bp)
                                       </th>
                                       <th class="p-1">
                                           Gene identifier
                                       </th>
                                       <th class="p-1">
                                           Gene preferred name for display
                                       </th>
                                       <th class="p-1">
                                           End position of genome (bp)
                                       </th>
                                       <th class="p-1">
                                           + / -
                                       </th>
                                       <th class="p-1">
                                           Taxonomic assignation
                                       </th>
                                       <th class="p-1">
                                           Functional info example (00260,
                                           00630...)
                                       </th>
                                       <th class="p-1">
                                           Functional info example (COG404,
                                           COG0665,...)
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>

        {% comment %}<div class="language-plaintext highlighter-rouge collapse" id="jsonFormat">{% endcomment %}
           {% comment %}<div class="highlight">{% endcomment %}
               {% comment %}<pre class="p-0 m-3" style="background:var(--sand);">{% endcomment %}
                    {% comment %}<code>{% endcomment %}
        {% comment %}cluster : { {% endcomment %}
            {% comment %}gene : {{% endcomment %}
                {% comment %}neighborhood : {{% endcomment %}
                    {% comment %}[pos : int] : { // [-nLeft, nRight]{% endcomment %}
                        {% comment %}gene : str,{% endcomment %}
                        {% comment %}preferred_name : str,{% endcomment %}
                        {% comment %}strand : ['+', '-'],{% endcomment %}
                        {% comment %}start : int,{% endcomment %}
                        {% comment %}end : int,{% endcomment %}
                        {% comment %}size : int,{% endcomment %}
                        {% comment %}frequency : int,{% endcomment %}
                        {% comment %}n_contig : int,{% endcomment %}
                        {% comment %}// Functional assignation{% endcomment %}
                        {% comment %}KEGG : {{% endcomment %}
                            {% comment %}id : {{% endcomment %}
                                {% comment %}description : str,{% endcomment %}
                            {% comment %}}{% endcomment %}
                        {% comment %}}, {% endcomment %}
                        {% comment %}eggNOG : {{% endcomment %}
                            {% comment %}level : {{% endcomment %}
                                {% comment %}id : {{% endcomment %}
                                    {% comment %}description : str,{% endcomment %}
                                {% comment %}}{% endcomment %}
                            {% comment %}}{% endcomment %}
                        {% comment %}},{% endcomment %}
                    {% comment %}}, {% endcomment %}
                {% comment %}}{% endcomment %}
            {% comment %}}{% endcomment %}
        {% comment %}}{% endcomment %}
                {% comment %}</code>{% endcomment %}
               {% comment %}</pre>{% endcomment %}
           {% comment %}</div> {% endcomment %}
        {% comment %}</div>{% endcomment %}

{% endblock %}
{% block options %}
<div class="card col-md-7 mx-auto">
<div class="col-md-12">
    <div class="card-header">
    <input type="radio" value="file" name="input_choice" id="input_choice"
           checked/>
    <label for="input_choice" class="h4">Upload file</label>
    </div>
    <div class='input_file'>
    <label for='input_file' 
           class='input_file btn btn-sm btn-secondary mx-2'>Browse</label>
    {{ file_form.as_p }}
    <div class='inputfilename'>No file selected.</div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script charset="utf-8">
     let input = document.getElementById('input_file')
     input.addEventListener('change', (e) => {
     console.log(input.files[0].name)
            // Display input file upon selection
            d3.select("div.inputfilename")
              .style("opacity", 0);
            d3.select("div.inputfilename")
              .html(input.files[0].name)
              .style("opacity", 1);
     });
</script>
{% endblock %}
