{% extends 'gecoviz/baseContext.html' %}
{% block gecoviz-title %}
<a href="http://eggnog5.embl.de/#/app/results?target_nogs={{ query }}" 
   target="_blank">{{ query }}</a>
{% endblock gecoviz-title %}
{% block gecoviz-script %}
  <script charset="utf-8">
      const API_URL = "/progenomes/api/"

        async function get_context(query) {
            var url_path = API_URL + "getcontext/" + query + "/";
            let data;
            $('.gecoviz-progress').show();
            data = await $.ajax({
              url: url_path,
              complete: function(){
                $('.gecoviz-progress').hide();
              },
              error: function() {
                  $('.gecoviz-progress').hide();
                  alert("Incorrect eggNOG identifier")
              }
            })
            var formattedData = [];
            data.forEach(d => {
                let newD = Object.assign({}, d)
                Object.keys(d).forEach(k => {
                    try {
                        newD[k] = eval(d[k])
                    } catch {};
                })
                formattedData.push(newD);
            })
            return formattedData;
        }

        async function get_newick(url) {
            var newick = await $.ajax({
              url: url,
              error: function() {
                  console.log("No tree found")
              }
            })
            return newick
        }
 
        async function launchGeCoViz(selector) {
            var urlPath = window.location.pathname.split("/");
            var query = urlPath[3];
            // ASYNC CALL TO MONGO SERVER
            var data = await get_context(query);
            // Get tree in Newick format
            var newick;
            try {
                let newick_url = API_URL + "tree/" + query + "/";
                newick = await get_newick(newick_url);

            } catch { newick = undefined; }
            let fields = ['showName',
                        'tax_id', 
                        'tax_desc',
                        'name'];
            let graph = GeCoViz(selector)
                        .treeData(newick, fields[0], fields);
                        .contextData(data)
                        .geneText("Gene name")
                        .annotation("Orthologous groups", 2)
                        .draw();
            
            d3.select('ul.navbar')
                .style('visibility', 'visible')
                .style('opacity', 1);
            d3.select(selector) 
                .style('opacity', 1)
                .style('visibility', 'visible');
        }
        launchGeCoViz('.GeCoViz');
  </script>
{% endblock %} 
