{% extends 'gecoviz/input.html' %}
{% block steps %}
Data sources:
<ul>
<li>
<a href="http://eggnog5.embl.de/#/app/home" target="_blank">
   eggNOG</a>: one of the most comprehensive databases for
    orthologs and their functional annotation. Used to retrieve orthologous
    relationships and phylogeny.
</li>
<li>
<a href="http://progenomes.embl.de" target="_blank">
   ProGenomes</a>: 25,000 curated genomes. Annotated
   through eggNOG-mapper and used to extract gene
   neighborhood information
</li>
</ul>

<p>
Enter eggNOG identifier <em>e.g. </em><a
        href="/progenomes/context/1S6AH/" 
        target="_self">1S6A0H</a>
        {% comment %}, <a {% endcomment %}
        {% comment %}href="/progenomes/context/247WS/" {% endcomment %}
        {% comment %}target="_self">247WS</a> (large OG){% endcomment %}
</p>
{% endblock %}
{% block options %}
<div class="card col-md-8 mx-auto">
    <div class="col-md-12">
        <div class="card-header">
            <h4 class="card-title">eggNOG orthologous group</h4>
        </div>
        <div class="card-body">
            {{ eggnog_form.as_p }}
        </div>
    </div>
</div>
{% endblock %}
