{% extends 'gecoviz/input.html' %}
{% block steps %}
Enter eggNOG identifier <em>e.g.</em><a
        href="/progenomes/context/1S6AH/" 
        target="_self">1S6A0H</a>, <a 
        href="/progenomes/context/247WS/" 
        target="_self">247WS</a> (large OG)
{% endblock %}
{% block options %}
<div class="card col-md-7 mx-auto">
    <div class="col-md-12">
        <div class="card-header">
            <h4 class="card-title">eggNOG</h4>
        </div>
        <div class="card-body">
            {{ eggnog_form.as_p }}
        </div>
    </div>
</div>
{% endblock %}
